
.Message-red {
  color: crimson;
  background-color: yellow;
  font-size: 30px;
  font-weight: 900;
  border-style: solid;
  border: 8px solid red;
  border-radius: 10px;
  padding: 10px;
}

.Message-green {
  color: green;
  background-color: wheat;
  font-size: 30px;
  font-weight: 900;
  border-style: solid;
  border: 8px solid green;
  border-radius: 10px;
  padding: 10px;
}

.Padded-element {
  padding: 10px;
}